<div id="<%= dom_id import %>">
  <p>
    <strong>Title:</strong>
    <%= import.title %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= import.number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= import.description %>
  </p>

</div>
