<div id="items">
  <table class="table table-sm table-borderless table-responsive mt-3">  
    <thead class="table-secondary">
      <tr>
        <th scope="col">Tombamento</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data</th>          
        <th scope="col">Status</th>
        <th scope="col">Ação</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <%= render item %>       
      <% end %>      
    </tbody>
  </div>  
</div>