<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instruções de utilização</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Maecenas rutrum erat in nibh molestie, et rutrum risus posuere. Cras auctor turpis in feugiat posuere. Mauris ante nisl, luctus ut arcu eget, 
        consectetur dignissim est. Integer at dolor tempus leo auctor luctus non in lacus. Nullam faucibus enim a leo vehicula elementum. 
        Proin augue dui, sodales in augue nec, pretium semper sapien. Ut elementum nulla leo, ut gravida urna elementum vel. 
        Vestibulum arcu sapien, luctus ut varius ut, porta rhoncus ex. Vivamus et finibus nisi. Donec quis enim a erat feugiat cursus non ut nisl.
        Phasellus lacinia ut nisi quis fermentum. Curabitur scelerisque ornare aliquet. Nulla suscipit massa a ligula elementum, vitae accumsan libero tempor.
        Pellentesque ante nunc, mollis sit amet lacus id, pellentesque gravida enim. 
        Aliquam erat volutpat. Aliquam nisi tortor, gravida quis purus eget, eleifend tincidunt eros. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>