<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instruções de utilização</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Para a utilização do sistema, basta seguir os passos abaixo:</p>
        <ul>
          <li>Clicar em "Procurar";</li>
          <li>Selecionar um arquivo válido csv exportado do suap;</li>
          <li>Clicar em "Importar arquivo csv;</li>
          <li>Na lista de itens importados clicar no ícone da impressora para imprimir apenas uma etiqueta ou clicar em "Imprimir tudo" para imprimir todas as etiquetas cadastradas.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>