body{
  /*background-color:#5286F3; */
  font-size:12px;
  color:rgb(19, 19, 19);
}
.simple-login-container{
  width:300px;
  max-width:100%;
  margin:50px auto;
}
.simple-login-container h2{
  text-align:center;
  font-size:20px;
}

.simple-login-container .btn-login{
  /*color:#fff; */
  color: #fff;
  background-color: blueviolet;
}
a{
  color: blue;
}